<footer>
  <div class="footer">
    <div class="footer-item">
      <h3>About Us</h3>
      <h5>Welcome to Visitly - Gateway To Your Memorable Stays!</h5>
      <p style="text-align: justify;">
At Visitly, we believe that every journey begins with the perfect stay. Inspired by the convenience and flexibility of modern travel platforms, we have built a feature-rich vacation rental marketplace that caters to both commercial and non-commercial properties. Whether you’re a traveler looking for a cozy getaway or a host seeking to list your property, Visitly offers a seamless and secure experience.</p>
    </div>
    <div class="footer-item">
      <h3>Contact Us</h3>
      <h5>Chandigarh University, Mohali, Punjab</h5>
      <h6>OR </h6>
      <h6 class="mb-3">Connect with us on Social Media</h6>
        <div class="f-info-socials">
          <a href="https://www.facebook.com/profile.php?id=61560761146807" target="_blank"> <i class="fa-brands fa-meta" style="color: rgb(16, 108, 221)"></i></a>
          <a href="https://mail.google.com" target="_blank"> <i class="fa-brands fa-square-instagram" style="color: rgb(232, 20, 20)"></i></a>
          <a href="https://mail.google.com" target="_blank"> <i class="fa-brands fa-twitter" style="color: rgb(38, 195, 253)"></i></a>
          <a href="mailto:bavishtaneja82@gmail.com" target="_blank">
            <i class="fa fa-envelope" style="color: rgb(0, 0, 0);"></i>
          </a>
          <a href="https://www.linkedin.com/in/bavish-7-kumar/" target="_blank"> <i class="fa-brands fa-linkedin" style="color: rgb(6, 101, 123)"></i></a>
        </div>
      </div>
  </div>
  <div class="scrollup">
    <!-- <button>Back to top</button> -->
    <button onclick="scrollToTop()" class="topfun">
      <i class="fa-solid fa-arrow-up"></i>
    </button>
  </div>
  <hr style="margin-bottom: 10px" />
  <div class="f-info">
    
    <div class="f-info-brand">&copy; 2024 Visitly Private Limited, inc.</div>
    <!-- <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
      <a href="/sitemap">Sitemap</a>
      <a href="/companydetails">Company details</a>
    </div> -->
  </div>
  <!-- <div style="margin-bottom: 40px"></div> -->
</footer>

<script>
  function scrollToTop() {
    // Scroll to the top of the page
    window.scrollTo({
      top: 0,
      behavior: "smooth", // Optional: adds smooth scrolling animation
    });
  }
</script>
