<% layout("/layouts/boilerplate") %>
<div class="">
    <div class="row">
        <div class="col-12">
        <h1 class="text-center">Pricing</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Basic</h5>
            <h6 class="card-subtitle mb-2 text-muted">$10 per month</h6>
            <p class="card-text">This is a basic plan that allows you to </p>
            <a href="/listings/new" class="card-link">Create Listing</a>
        </div>  
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Advanced</h5>
            <h6 class="card-subtitle mb-2 text-muted">$10 per month</h6>
            <p class="card-text"></p>
            <a href="/listings/new" class="card-link">Create Listing</a>
        </div>  
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Pro</h5>
            <h6 class="card-subtitle mb-2 text-muted">$20 per month</h6>
            <p class="card-text"></p>
            <a href="/listings/new" class="card-link">Create Listing</a>
        </div>
    </div>
</div>